.card {
  width: 350px;
  height: 400px;
  box-shadow: 0px 0px 8px #888888;
  margin: 20px;
  background-color: white;
}
a {
  text-decoration: none;
  color: black;
}

.card-image {
  width: 350px;
  height: 200px;
  margin-bottom: 9px;
  background-size: 350px 200px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.title {
  font-family: Raleway;
  font-weight: bold;
  text-align: center;
  padding: 25px;
  padding-top: 7px;
  padding-bottom: 0px;
}
.content {
  color: #beb5b5;
  font-family: "Alegreya";
  text-align: center;
  line-break: auto;
  font-size: 15px;
  padding: 25px;
  padding-top: 12px;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .card {
    margin: 0px;
    margin-bottom: 25px;
  }
}
