.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  background-image: url("../images//bg5.jpg");
  background-size: cover;
  height: 500px;
}
.menu-hover {
  transition: transform 0.2s;
  cursor: pointer;
}
.menu-hover:hover {
  transform: scale(1.5);
  color: tomato;
}
.search-box {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid black;

  padding: 5px;
  padding-left: 15px;
  width: 300px;
  font-family: "ubuntu";
}

@media screen and (max-width: 360px) {
  .search-box-container {
    margin-right: 5px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 5px;
    order: 3;
  }
  .header {
    background-image: none;
    background-color: #0b0704;
  }
}
