.card-class {
  flex-wrap: wrap;
  display: flex;
}
.article-area {
  margin-left: 5vw;
  margin-right: 5vw;
}

@media screen and (max-width: 360px) {
  .article-area {
    margin-left: 0px;
    margin-right: 0px;
  }
}
